USE [master]
GO
/****** Object:  Database [ClanBattles]    Script Date: 12/09/2018 1:04:15 ******/
CREATE DATABASE [ClanBattles] ON  PRIMARY 
( NAME = N'ClanBattles', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\ClanBattles.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ClanBattles_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\ClanBattles_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClanBattles].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClanBattles]
GO
/****** Object:  Table [dbo].[Clans]    Script Date: 12/09/2018 1:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gameId] [int] NULL,
	[name] [varchar](200) NULL,
	[description] [varchar](800) NULL,
	[rating] [int] NULL CONSTRAINT [DF_Clans_rating]  DEFAULT ((0)),
	[win] [int] NULL CONSTRAINT [DF_Clans_win]  DEFAULT ((0)),
	[lose] [int] NULL CONSTRAINT [DF_Clans_lose]  DEFAULT ((0)),
	[winRate] [float] NULL CONSTRAINT [DF_Clans_win_rate]  DEFAULT ((0)),
	[urlToImage] [varchar](500) NULL,
	[status] [char](3) NULL,
 CONSTRAINT [PK_Clans] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Gamers]    Script Date: 12/09/2018 1:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gamers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](200) NULL,
	[lastname] [varchar](200) NULL,
	[email] [varchar](200) NOT NULL,
	[birthDate] [date] NULL,
	[address] [varchar](500) NULL,
	[username] [varchar](200) NULL,
	[password] [varchar](200) NULL,
	[status] [char](3) NULL,
 CONSTRAINT [PK_Gamers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Games]    Script Date: 12/09/2018 1:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Games](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NULL,
	[description] [varchar](500) NULL,
	[urlWebPage] [varchar](500) NULL,
	[urlToImage] [varchar](500) NULL,
	[rating] [float] NULL CONSTRAINT [DF_Games_rating]  DEFAULT ((0)),
	[status] [char](3) NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LanCenters]    Script Date: 12/09/2018 1:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LanCenters](
	[id] [int] NOT NULL,
	[name] [varchar](200) NULL,
	[ruc] [varchar](50) NULL,
	[email] [varchar](200) NULL,
	[address] [varchar](500) NULL,
	[latitud] [float] NULL,
	[longitud] [float] NULL,
	[username] [varchar](200) NULL,
	[password] [varchar](200) NULL,
	[status] [char](3) NULL,
 CONSTRAINT [PK_LanCenters] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Members]    Script Date: 12/09/2018 1:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Members](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clanId] [int] NULL,
	[gamerId] [int] NULL,
	[status] [char](3) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 12/09/2018 1:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reservations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gamerId] [int] NULL,
	[lanCenterId] [int] NULL,
	[description] [varchar](800) NULL,
	[startDate] [datetime] NULL,
	[numberHours] [int] NULL,
	[isApproved] [bit] NULL,
	[status] [char](3) NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Clans] ON 

INSERT [dbo].[Clans] ([id], [gameId], [name], [description], [rating], [win], [lose], [winRate], [urlToImage], [status]) VALUES (1, 1, N'Team Liquid', NULL, 1, 7, 3, 0.8, NULL, N'ACT')
INSERT [dbo].[Clans] ([id], [gameId], [name], [description], [rating], [win], [lose], [winRate], [urlToImage], [status]) VALUES (2, 1, N'Mineski', NULL, 2, 7, 4, 0.69, NULL, N'ACT')
INSERT [dbo].[Clans] ([id], [gameId], [name], [description], [rating], [win], [lose], [winRate], [urlToImage], [status]) VALUES (3, 1, N'Cloud9', NULL, 3, 15, 10, 0.58, NULL, N'ACT')
SET IDENTITY_INSERT [dbo].[Clans] OFF
SET IDENTITY_INSERT [dbo].[Gamers] ON 

INSERT [dbo].[Gamers] ([id], [firstName], [lastname], [email], [birthDate], [address], [username], [password], [status]) VALUES (1, N'Kevin', N'Aranibar Villegas', N'kevinaranibarvillegas@gmail.com', CAST(N'1996-03-23' AS Date), N'kevinaranibar@gmail.com', N'u201512321@upc.edu.pe', N'u201512321', N'ACT')
INSERT [dbo].[Gamers] ([id], [firstName], [lastname], [email], [birthDate], [address], [username], [password], [status]) VALUES (2, N'Jose ', N'Veliz Francia', N'elniñorata@gmail.com', CAST(N'1900-03-19' AS Date), N'elniñorata@gmail.com', N'u201518521@gmail.com', N'niñorata', N'ACT')
INSERT [dbo].[Gamers] ([id], [firstName], [lastname], [email], [birthDate], [address], [username], [password], [status]) VALUES (3, N'Eduardo', N'Arias ', N'eduardoarias@gmail.com', CAST(N'1996-05-15' AS Date), N'eduardoarias@gmail.com', N'u201312548@gmail.com', N'u201312545', N'ACT')
SET IDENTITY_INSERT [dbo].[Gamers] OFF
SET IDENTITY_INSERT [dbo].[Games] ON 

INSERT [dbo].[Games] ([id], [name], [description], [urlWebPage], [urlToImage], [rating], [status]) VALUES (1, N'League of Legends', N'League of Legends es un juego en línea de ritmo rápido y competitivo que combina la velocidad y la intensidad de un RTS con elementos de RPG. Dos equipos de campeones poderosos, cada uno con un diseño y un estilo de juego únicos, luchan mano a mano en múltiples campos de batalla y modos de juego.', N'https://lan.leagueoflegends.com/es/', NULL, 5, N'ACT')
INSERT [dbo].[Games] ([id], [name], [description], [urlWebPage], [urlToImage], [rating], [status]) VALUES (2, N'Dota 2', N'Dota 2 es un videojuego perteneciente al género ARTS, también conocido como MOBA, lanzado el 9 de julio de 2013. El juego fue desarrollado por la empresa Valve Corporation. ', N'http://es.dota2.com/', NULL, 3, N'ACT')
INSERT [dbo].[Games] ([id], [name], [description], [urlWebPage], [urlToImage], [rating], [status]) VALUES (3, N'Overwatch', N'En Overwatch, controlas a un héroe en partidas competitivas con dos equipos de 6 personas. Lucha por los objetivos, derrota al equipo rival y álzate con la victoria.', N'https://playoverwatch.com/es-es/', NULL, 4, N'INA')
SET IDENTITY_INSERT [dbo].[Games] OFF
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([id], [clanId], [gamerId], [status]) VALUES (1, 1, 1, N'ACT')
INSERT [dbo].[Members] ([id], [clanId], [gamerId], [status]) VALUES (2, 1, 2, N'ACT')
INSERT [dbo].[Members] ([id], [clanId], [gamerId], [status]) VALUES (3, 1, 3, N'ACT')
SET IDENTITY_INSERT [dbo].[Members] OFF
ALTER TABLE [dbo].[Clans]  WITH CHECK ADD  CONSTRAINT [FK_Clans_Games] FOREIGN KEY([gameId])
REFERENCES [dbo].[Games] ([id])
GO
ALTER TABLE [dbo].[Clans] CHECK CONSTRAINT [FK_Clans_Games]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Clans] FOREIGN KEY([clanId])
REFERENCES [dbo].[Clans] ([id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Clans]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Gamers] FOREIGN KEY([gamerId])
REFERENCES [dbo].[Gamers] ([id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Gamers]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Gamers] FOREIGN KEY([gamerId])
REFERENCES [dbo].[Gamers] ([id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Gamers]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_LanCenters] FOREIGN KEY([lanCenterId])
REFERENCES [dbo].[LanCenters] ([id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_LanCenters]
GO
USE [master]
GO
